/* 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@plugin "daisyui";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #191a1c;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
} */ 
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@plugin "daisyui";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}